/* For desktop */
body
{
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
    background: url("../Docs/back2.jpeg");
    background-attachment: fixed;
    background-position: center;
}
/* Description */
.grid-container1 {
  padding-top: 150%;
  margin-top: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows:auto;
  margin-top: 0;
  grid-gap: 20px;
  padding: 50px;
}
/* The team , products and services */
.grid-container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 0px;
  align-items: center;
  text-align: center;
}

.grid-item {
 
  background-color: rgba(178, 34, 34, 0.664);
  color: #ffffff;
  padding: 10px ;
  align-items: center ;
}

.grid-subtitle{
  display: none;
}
.grid-subtitle2{
  background-color: rgba(178, 34, 34, 0.664);
  color: #ffffff;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  text-decoration: none;
}
.grid-container2 .grid-subtitle2 a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.grid-item .grid-img{
  height: 20  0px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

hr{
  color: rgba(255, 217, 0, 0.733);
}

.timeline-img{
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.timeline{
  padding: 50px;
}

/* For Tablet and mobile*/
@media (max-width :991px){
  .grid-container1
  {
    grid-template-columns: 1fr;
    padding-top: 100px;
    margin: 0;
    grid-gap: 10px;
  }
  .grid-container2
  {
    grid-template-columns: 1fr;

  }
  .timeline-img{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
  }
  .grid-subtitle2{
    display: none;
  }
  .grid-subtitle{
    display: inline;
    background-color: rgba(178, 34, 34, 0.664);
    color: #ffffff;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-decoration: none;
  }
  .grid-container2 .grid-subtitle a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
  }
}
