/* For desktop */
header
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color: firebrick;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
header .logo a
{
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    text-decoration: none;
}
header nav
{
    float: right;
}
header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li
{
    list-style: none;
}
header nav ul li a
{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}
/* add a empty string after the elment with class .slide-left-right */
header nav ul li a:after
{
content: '';
display: block;
height: 3px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease; /* .5 seonds for changes to the width and background-color */
-webkit-transition: width .5s ease, background-color .5s ease; /* Chrome and Safari */
-moz-transition: width .5s ease, background-color .5s ease; /* FireFox */
}
header nav ul li a:hover:after
{
width: 100%;
background:firebrick;
}
header nav ul li a:hover,
header nav ul li a.active
{
    color: #ffffff;
    background: rgba(255, 217, 0, 0.733);
}
.menu-toggle
{
    color: #ffffff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
/* For Tablet and Mobile View */
@media (max-width :991px)
{
    header
    {
    padding: 0 20px;
    }
    .menu-toggle
    {
        display: block;
    }
    header nav
    {
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        background:firebrick;
        top: 50px;
        right: -100%;
        transition: 0.5s;
    }
    header nav.active
    {
        right: 0;
    }
    header nav ul
    {
        display: block;
        text-align: center;
    }
    header nav ul li a
    {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.footer-div{
  background: firebrick;
}
