 body
 {
   font-family: sans-serif;
 }



.container {
  position: relative;
  width: 100%;

}

/* Make the image responsive */
.container .head-img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: inherit ;
  color: grey;
  font-size: 4vw;
  margin: 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: inherit;
  color: firebrick;
}

.container .btn1 {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: inherit ;
  color: grey;
  font-size: 4vw;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
}

.container .btn1:hover {
  background-color: inherit;
  color: firebrick;
}

.container .btn2 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: inherit ;
  color: grey;
  font-size: 4vw;
  margin: 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: inherit;
}

.container .btn2:hover {
  background-color: inherit;
  color: firebrick;
}

.container .btn3 {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: inherit ;
  color: grey;
  font-size: 4vw;
  border: none;
  cursor: pointer;
  margin: 0;
  border-radius: 5px;
}

.container .btn3:hover {
  background-color: inherit;
  color: firebrick;
}

.container .btn4 {
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: inherit ;
  color: grey;
  font-size: 4vw;
  border: none;
  cursor: pointer;
  margin: 0;
  border-radius: 5px;
}

.container .btn4:hover {
  background-color: inherit;
  color: firebrick;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  padding: 5%;
  padding-top: 0;
  grid-gap: 5%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}
.grid-img {
  width: 100%;
  height: 100%;
 margin: 0;
 object-fit: cover;
}
a{
  text-decoration: none;
  text-align: left;
    display:block;
}
h1{
  text-align: center;
  padding-top: 12%;
  font-size: 4vw;
}

.button {
  background-color: firebrick;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.links{
  text-align: left;
}
