/* style for body*/
 body
 {
   font-family: sans-serif;
   background-color: #000000;
   background-image: url("../Docs/speedometer.jpg");
 }

/*top banner image*/
.links {
  background: url("../Docs/lamborghini.png");
  padding: 100px;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
}

/*link on the banner*/
.links a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  text-align: left;
  font-size: 40px;
}

.links a:hover {
  background-color: inherit;
  color: firebrick;
}

/*grid showcase*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #000000;
  padding: 5%;
  padding-top: 0;
  grid-gap: 5%;
}

/*grid cell*/
.grid-item .grid-item-b{
  background-color:#000000;
  border: none;
}

/*grid image(cars)*/
 .grid-img {
  width: 100%;
  height: 100%;
 margin: 0;
 object-fit: cover;
}

a{
  text-decoration: none;
  text-align: left;
    display:block;
}

/*heading above each section*/
h1{
  text-align: center;
  padding-top: 12%;
  font-size: 50px;
  color: #ffffff;
}

/*button*/
.button {
  background-color: firebrick;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*footer*/
footer{
  background-color: firebrick;
  padding: 10px;
}

/*icons social media*/
.icons{
  color: rgba(255, 217, 0, 0.733);
  padding: 10px;
}

.icons:hover
{
  color:grey;
}

/*footer text*/
.footer-text{
  padding:20px;
  color: rgba(255, 217, 0, 0.733);
}
.grid-item2
{
  display: none;
}
.scroll
{
  text-align: center;
  color: white;
}


@media (max-width :991px){
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
  .grid-item-b{
    display: none;
  }
  .grid-item2
  {
    display: inline-block;
    background-color:#000000;
    border: none;
  }
  .button {
    background-color: firebrick;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .scroll {
    padding: 30px;
    text-align: right;
  }
  body{
    height: 100%;
  }
}
