.car1-img{
  width:50%;
  height: 70%;
  position: absolute;
  right: 10px;
  top: 60px;
}
.span-heading{
  position: absolute;
  color: white;
  float: left;
  top: 70px;
  left: 430px;
  font-size: 40px;

}
.span-subheading{
  position: absolute;
  width: 277.867px;
  text-align: center;
  color: white;
  float: left;
  top: 120px;
  left: 435px;
  font-size: 10px;
}
.sub-heading1{
  color: white;
  width: 277.867px;
  text-align: center;
  position: absolute;
  top: 180px;
  left: 430px;
  font-size: 20px;
}
.sub-heading2{
  color: white;
  width: 277.867px;
  text-align: center;
  position: absolute;
  top: 380px;
  left: 430px;
  font-size: 20px;
}
.sub-heading3{
  color: white;
  width: 277.867px;
  text-align: center;
  position: absolute;
  top: 500px;
  left: 430px;
  font-size: 20px;
}
.detail-p1{
  color: white;
  width: 277.867px;
  text-align: center;
  position: absolute;
  top: 200px;
  left: 430px;
}
.rating-img{
  position: absolute;
  top: 410px;
  background-color: firebrick;
  left: 430px;
}
.colors-img{
  position: absolute;
  top: 530px;
  left: 493px;
}
.sub-heading4{
  color: white;
  width: 277.867px;
  text-align: center;
  position: absolute;
  top: 600px;
  left: 430px;
  font-size: 20px;
}
.detail-p2{
  color: white;
  width: 277.867px;
  text-align: center;
  position: absolute;
  top: 630px;
  left: 430px;
}
.specifications{
  position: absolute;
  right:0;
  top:630px;
  width:800px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows:auto;
}
.engine-img{
  width:60%;
  height: 60%;
}
.seats-img{
  width:60%;
  height:60%;
}
.suspension-img{
  width:60%;
  height:60%;
}
.grid-item{
  color:white;
}


@media (max-width :991px)
{
  section: {
    width: 50%;
  }
  .car1-img{
    position: absolute;
    top: 350px;
    left: 0;
    width: 100%;
  }
  .span-heading{
    position: absolute;
    color: white;
    top: 280px;
    left: 18%;
    font-size: 80vm;
  }
  .span-subheading{
    position: absolute;
    text-align: center;
    color: white;
    top: 325px;
    left: 18%;
    font-size: 30vm;
  }
  .sub-heading1{
    text-align: center;
    position: absolute;
    top: 980px;
    left: 18%;
    font-size: 30vm;
  }

  .detail-p1{
    text-align: center;
    position: absolute;
    top: 1000px;
    left: 17%
  }

  .sub-heading2{
    text-align: center;
    position: absolute;
    top: 1280px;
    left: 18%;
    font-size: 30vm;
  }
  .rating-img{
    position: absolute;
    top: 1315px;

    left: 18%;
  }
  .sub-heading3{
    text-align: center;
    position: absolute;
    top: 1450px;
    left: 18%;
    font-size: 30vm;
  }
  .colors-img{
    position: absolute;
    top: 1485px;
    left: 32.5%;
  }
  .specifications{
    position: absolute;
    top:1600px;
    width:100%;
    left:8%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows:auto;
  }
  .sub-heading4{
    text-align: center;
    position: absolute;
    top: 1820px;
    left: 18%;
    font-size: 30vm;
  }
  .detail-p2{
    text-align: center;
    position: absolute;
    top: 1850px;
    left: 17%;
  }
}
